body{
    background-color: rgb(0, 0, 98);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_texto{
    color: antiquewhite;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}

.button{
    background-color: antiquewhite;
    color:rgb(17, 17, 17);
    font-weight: 600;
    border: 2px solid cadetblue;
    font-size: 1rem;
    transition-duration: 0.4s;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 2rem;
}

.button:hover{
    font-size: 1.5rem;
    background-color:cadetblue;
    color: white;
}
